useDynLib(VariantFiltering)

import(methods)
import(BiocGenerics)
import(S4Vectors)

importFrom(BSgenome.Hsapiens.UCSC.hg19, Hsapiens)

importClassesFrom(Biobase, AssayData)
importClassesFrom(AnnotationDbi, AnnotationDb)
importClassesFrom(RSQLite, SQLiteConnection)
importClassesFrom(VariantAnnotation, SpliceSiteVariants, PromoterVariants,
                  FiveUTRVariants, ThreeUTRVariants, PolyPhenDb)
importClassesFrom(GenomeInfoDb, Seqinfo, GenomeDescription)
importClassesFrom(GenomicRanges, GRanges, GRangesList)
importClassesFrom(Biostrings, DNAStringSet, DNAStringSetList)
importClassesFrom(Rsamtools, TabixFile, TabixFileList)

importMethodsFrom(DBI, dbListFields)
importMethodsFrom(RSQLite, dbConnect,
                           dbDisconnect,
                           dbGetQuery,
                           dbBeginTransaction,
                           dbGetPreparedQuery,
                           dbCommit)
importMethodsFrom(BSgenome, referenceGenome,
                            organism,
                            species,
                            provider,
                            providerVersion)
importMethodsFrom(GenomeInfoDb, "seqinfo<-",
                                seqlevels,
                                "seqlevels<-",
                                seqlevelsStyle,
                                "seqlevelsStyle<-",
                                "isCircular",
                                "isCircular<-",
                                releaseName)
importMethodsFrom(VariantAnnotation, readVcf,
                                     scanVcfHeader,
                                     ScanVcfParam,
                                     samples,
                                     info,
                                     geno,
                                     predictCoding,
                                     locateVariants)
importMethodsFrom(Rsamtools, headerTabix)
importMethodsFrom(IRanges, elementLengths,
                           start,
                           width,
                           nchar,
                           unlist,
                           which,
                           order,
                           split,
                           queryHits,
                           subjectHits,
                           values,
                           findOverlaps,
                           as.vector)
importMethodsFrom(GenomicFeatures, exonsBy)
importMethodsFrom(GenomicRanges, resize,
                                 ranges)
importMethodsFrom(Biostrings, getSeq,
                              subseq,
                              unlist,
                              complement,
                              reverseComplement,
                              replaceAt)
importMethodsFrom(AnnotationDbi, get,
                                 select,
                                 keytypes,
                                 columns,
                                 keys)
importMethodsFrom(Rsamtools, path)

importFrom(RSQLite, SQLite)
importFrom(Rsamtools, TabixFile,
                      TabixFileList,
                      indexTabix,
                      bgzip)
importFrom(GenomeInfoDb, seqnames,
                         keepStandardChromosomes,
                         keepSeqlevels,
                         renameSeqlevels,
                         seqlengths,
                         seqinfo,
                         Seqinfo)
importFrom(GenomicRanges, GRanges,
                          rowData,
                          mapCoords)
importFrom(BiocParallel, bpparam,
                         bpvec,
                         bplapply)
importFrom(IRanges, IRanges,
                    IntegerList,
                    CharacterList)
importFrom(Biostrings, DNAStringSet,
                       AAStringSet, 
                       DNAStringSetList)
importFrom(VariantAnnotation, AllVariants,
                              IntergenicVariants)

import(shiny)

exportClasses(MafDb, PhastConsDb, GenePhylostrataDb,
              VariantFilteringParam, VariantFilteringResults,
              VariantFilteringResultsUI, VariantFilteringResultsAIM,
              WeightMatrix)

exportMethods(VariantFilteringParam,
              annotateVariants,
              width,
              conservedPositions,
              show,
              xLinked,
              autosomalRecessiveHomozygous,
              autosomalDominant,
              deNovo,
              autosomalRecessiveHeterozygous,
              unrelatedIndividuals,
              allInheritanceModels,
              wmScore,

              ## specific for the VariantFilteringResults
              inheritanceModel,
              param,
              allVariants,
              filteredVariants,
              selectIndividual, "selectIndividual<-",
              dbSNPpresent, "dbSNPpresent<-",
              OMIMpresent, "OMIMpresent<-",
              variantType, "variantType<-",
              aaChangeType, "aaChangeType<-",
              MAFpop, "MAFpop<-",
              naMAF, "naMAF<-",
              maxMAF, "maxMAF<-",
              minPhastCons, "minPhastCons<-",
              minPhylostratum, "minPhylostratum<-",
              minCRYP5ss, "minCRYP5ss<-",
              minCRYP3ss, "minCRYP3ss<-",

              ## specific for the MafDb class
              knownVariantsMAFcols,
              fetchKnownVariantsByID,
              keytypes,
              keys,
              columns,
              select,

              ## specific for the PhastConsDb class
              provider,
              providerVersion,
              referenceGenome,
              organism,
              ## species,
              seqinfo,
              seqnames,
              seqlengths,
              scores,

              ## for the GenePhylostrataDb class
              genePhylostratum,
              genePhylostrata
             )

export(reportVariants,
       readWm,
       readAAradicalChangeMatrix,
       codeAF2RAW,
       decodeRAW2AF,

       ## for the PhastConsDb class
       PhastConsDb,

       ## for the GenePhylostrata class
       GenePhylostrataDb
      )
